* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/img/background.png');
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('/assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('/assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('ttf');
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #f6f1f1;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 30px;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #f6f1f1;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.input-group input {
    padding-left: 35px;
}

.sign-text {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-sizing: border-box;
}

.sign-text:focus {
    outline: none;
    border-color: #2040b0;
    border-radius: 16px;
}

.login-button {
    background-color: transparent;
    color: #4caf50;
    padding: 12px 20px;
    border: 1px solid #4caf50;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #f7f7f7;
    color: #3e8e41;
    border-color: #3e8e41;
}

a {
    color: #2040b0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}