<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

        <th:block layout:insert="~{fragments/styles}"/>
    </head>
    <body>
        <th:block layout:replace="~{fragments/header}"/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div th:replace="~{fragments/sidebar}"></div>
                </div>

                <div class="col-md-10 p-4 content">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer}"></div>
        <th:block layout:replace="~{fragments/scripts}"/>
        <th:block layout:fragment="optional"/>
    </body>
</html>
