<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

        <th:block layout:insert="~{fragments/styles}"/>
    </head>
    <body>
        <th:block layout:replace="~{fragments/header}"/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div th:replace="~{fragments/sidebar}"></div>
                </div>

                <div class="col-md-10 p-4 content">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer}"></div>
        <div th:replace="~{fragments/loading}"></div>

        <th:block layout:replace="~{fragments/scripts}"/>
        <th:block layout:fragment="optional"/>
        <script type="text/javascript">
            $(document).ready(function () {
                let exp = document.getElementById("example");
                if (exp != null) {
                    exp.style.width = "100%";
                }
                generateMenu();
                fillName();
            });

            $.extend(true, $.fn.dataTable.defaults, {
                "scrollX": true,
                "scrollY": "400px",
                "paging": true,
                "searching": false,
                "language": {
                    "loadingRecords": "Please Wait...",
                    "processing": "Processing...",
                    "infoEmpty": "Showing 0 to 0 from 0 data",
                    "info": "Showing _START_ to _END_ from _TOTAL_ data",
                    "emptyTable": "No data shown",
                    "zeroRecords": "No search available",
                    "paginate": {
                        "first": "<i class='fas fa-angle-double-left'></i>",
                        "last": "<i class='fas fa-angle-double-right'></i>",
                        "next": "<i class='fas fa-angle-right'></i>",
                        "previous": "<i class='fas fa-angle-left'></i>"
                    }
                }
            });
        </script>
    </body>
</html>
