<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

        <th:block layout:insert="~{fragments/styles}"/>
    </head>
    <body class="sign-body">
        <section layout:fragment="content"></section>
        <div th:replace="~{fragments/footer}"></div>
        <th:block layout:replace="~{fragments/scripts}"/>
        <th:block layout:fragment="optional"/>
    </body>
</html>