<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary" layout:fragment="header">
    <a class="navbar-brand" th:href="@{/}">
        <img src="/assets/img/icon.png" alt="Logo" style="height: 30px; width: auto; margin-right: 5px;"/>
        PT. Nova Digital Perkasa
    </a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
</body>
</html>
