<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="modal" id="loading" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-header-colour">
                <h4>
                    <strong>
                        Please wait...
                    </strong>
                </h4>
            </div>
            <div class="modal-body">
                <img src="../../../assets/img/loading.gif" alt="Loading Dialog"
                     style="position: relative;width: 250px"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>