<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/assets/js/custom/role.js"></script>
</head>
<body>
<div class="modal fade"
     id="roleDetail" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="roleBackdrop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="roleBackdrop">Role Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="display-label-modal" for="name-modal">Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input id="name-modal" name="name-modal" placeholder="Name"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label class="display-label-modal" for="desc-modal">Description</label>
                        </div>
                        <div class="col-sm-8">
                            <input id="desc-modal" name="desc-modal" placeholder="Description"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="id-modal" name="id-modal"/>
                <button type="button" class="btn btn-danger btn-sm btn-fix" data-bs-dismiss="modal">
                    <i class="fas fa-cancel"></i>
                    Cancel
                </button>
                <button class="btn btn-primary btn-sm btn-fix" type="button"
                        onclick="saveRole()">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>