<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
    <script src="/assets/js/custom/util.js"></script>
    <script src="/assets/js/components/jquery.min.js"></script>
    <script src="/assets/js/components/jquery-ui.min.js"></script>
    <script src="/assets/js/components/jquery.data-table.min.js"></script>
    <script src="/assets/js/components/sweetalert2.min.js"></script>
    <script src="/assets/js/components/bootstrap.min.js"></script>
    <script src="/assets/js/components/popper.min.js"></script>
    <script src="/assets/js/components/font-awesome.min.js"></script>
</th:block>