<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 sidebar"
     layout:fragment="sidebar">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <a href="/users" class="nav-link px-0 align-middle sidebar-menu">
                <i class="fas fa-users"></i>
                <span class="ms-1 d-none d-sm-inline">Master User</span>
            </a>
        </li>
        <li>
            <a href="/roles" class="nav-link px-0 align-middle sidebar-menu">
                <i class="fas fa-briefcase"></i>
                <span class="ms-1 d-none d-sm-inline">Role</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
