<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/sign-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login</title>
    <script src="/assets/js/custom/login.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control form-control-auth" id="username" name="username"
                               placeholder="Username">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control form-control-auth" id="password" name="password"
                               placeholder="Password">
                    </div>
                </div>
                <button type="button" onclick="doLogin()" class="btn btn-login w-100">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>