<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/base-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script src="/assets/js/components/jquery.min.js"></script>
    <script src="/assets/js/custom/user.js"></script>
    <script src="/assets/js/custom/auth.js"></script>
    <script>
        $(document).ready(function () {
            fillProfile();
        });

        document.addEventListener('DOMContentLoaded', function () {
            let currPassIcon = document.getElementById("currPassModal");
            let currPassText = document.getElementById("current-pass-modal");
            currPassIcon.addEventListener('click', function () {
                togglePassword(currPassText, this);
            });

            let newPassIcon = document.getElementById("newPassModal");
            let newPassText = document.getElementById("new-pass-modal");
            newPassIcon.addEventListener('click', function () {
                togglePassword(newPassText, this);
            });

            let confPassIcon = document.getElementById("confPassModal");
            let confPassText = document.getElementById("confirm-pass-modal");
            confPassIcon.addEventListener('click', function () {
                togglePassword(confPassText, this);
            });

            function togglePassword(input, icon) {
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
                icon.classList.toggle('fa-eye-slash');
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <form>
        <div class="row form-group">
            <div class="col">
                <fieldset>
                    <legend>User Detail</legend>
                    <div class="row">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="username-profile">Username</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="username-profile" name="username-profile" class="form-control"
                                       disabled="disabled"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="name-profile">Name</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="name-profile" name="name-profile" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="email-profile">Email</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="email-profile" name="email-profile" class="form-control"
                                       disabled="disabled"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="role-profile">Role</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="role-profile" name="role-profile" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="desc-profile">Role Description</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="desc-profile" name="desc-profile" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label" for="stat-profile">Status</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="stat-profile" name="stat-profile" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-danger btn-sm btn-fix" type="button" onclick="changePassExecute()"
                                data-bs-toggle="modal" data-bs-target="#passDetail">
                            <i class="fas fa-key"></i>
                            Change Password
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div th:replace="~{fragments/change-pass-dialog}"></div>
    </form>
</div>
</body>
</html>