<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout/base-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script src="/assets/js/components/jquery.min.js"></script>
    <script src="/assets/js/custom/user.js"></script>
    <script src="/assets/js/custom/auth.js"></script>
    <script>
        $(document).ready(function () {
            fillProfile();
        });

        document.addEventListener('DOMContentLoaded', function () {
            let currPassIcon = document.getElementById("currPassModal");
            let currPassText = document.getElementById("current-pass-modal");
            currPassIcon.addEventListener('click', function () {
                togglePassword(currPassText, this);
            });

            let newPassIcon = document.getElementById("newPassModal");
            let newPassText = document.getElementById("new-pass-modal");
            newPassIcon.addEventListener('click', function () {
                togglePassword(newPassText, this);
            });

            let confPassIcon = document.getElementById("confPassModal");
            let confPassText = document.getElementById("confirm-pass-modal");
            confPassIcon.addEventListener('click', function () {
                togglePassword(confPassText, this);
            });

            function togglePassword(input, icon) {
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
                icon.classList.toggle('fa-eye-slash');
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <form>
        <div class="row form-group">
            <div class="col">
                <fieldset>
                    <legend>User Detail</legend>
                    <div class="row">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Username</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="username-profile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Name</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="name-profile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Email</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="email-profile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Role</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="role-profile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Role Description</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="desc-profile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label class="display-label">Status</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="display-label" id="stat-profile"></label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-danger btn-sm btn-fix" type="button" onclick="changePassExecute()"
                            data-bs-toggle="modal" data-bs-target="#passDetail">
                        <i class="fas fa-key"></i>
                        Change Password
                    </button>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/change-pass-dialog}"></div>
    </form>
</div>
</body>
</html>